/*
 * @Author: czy0729
 * @Date: 2021-03-01 09:47:13
 * @Last Modified by: czy0729
 * @Last Modified time: 2021-03-01 10:45:32
 */
@import '../../../index';

.item {
  position: relative;
  background-color: #fff;
  border-radius: $radius-sm;
  width: 351px;
  margin: 0 auto 16px;
}
.media {
  position: relative;
  border-radius: $radius-sm;
  overflow: hidden;

  &Image {
    width: 100%;
    background-color: $color-bg-inner;
    border-radius: $radius-sm;
    overflow: hidden;
  }
  &Video {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    pointer-events: none;
  }
}
.inner {
  padding: 20px;
}
.inner-grey {
  background-color: $color-bg;
}
.tag {
  position: absolute;
  z-index: 1;
  top: 26px;
  left: 20px;
}
.editing {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 20px;
}
