/*
 * @Author: czy0729
 * @Date: 2021-02-25 16:08:52
 * @Last Modified by:   czy0729
 * @Last Modified time: 2021-02-25 16:08:52
 */
.zt {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 176px;
  height: 96px;
  padding: 0 24px;
}
