/*
 * @Author: czy0729
 * @Date: 2020-02-28 17:58:46
 * @Last Modified by: czy0729
 * @Last Modified time: 2021-03-01 09:50:04
 */
.tagDark {
  display: inline-block;
  vertical-align: top;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
