/*
 * @Author: czy0729
 * @Date: 2019-06-18 09:45:36
 * @Last Modified by: czy0729
 * @Last Modified time: 2021-02-25 16:27:20
 */
.c-image {
  vertical-align: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
